<html>
<body>
<center>

    <h2> Rechercher Event </h2>
<form>
    <table border="2" align="center">
        Taper un Event à chercher :
        <input type="text" name="T1" >
         <input type="submit"  value="Chercher">
    </table></form>
    </center>

</body>
    </html>
